extends layout

block content
    h1 Inspiration
    p 
    |An alluring aroma might await you at the entrance of a fancy restaurant, but at the back of the restaurant, 
    |you will probably find rows of garbage cans filled with rotten food giving off fetid odors. 
    |Approximately 133 billion pounds of food amounting to about $162 billion is wasted by restaurants per year. 
    |Restaurants that use fresh produce daily often have to throw away food at the end of the day without ever using it. 
    |Wasted food also pollutes the environment by emitting methane, a gas
    |contributing significantly to global warming. Instead of wasting so much food, restaurants can easily donate to help people in need and help the environment by doing so.
    |With this goal in mind, we set out to create Waste Not, the perfect platform to reduce food waste and save the environment.

    img(id = 'fourth image' src="/media/tree-dying.jpg")
    img(id = 'fifth image' src="https://www.tasteofhome.com/wp-content/uploads/2017/10/shutterstock_67513879-800x450.jpg")
    img(id = 'sixth image' src="https://livenaturallymagazine.com/wp-content/uploads/2016/04/food-waste.jpg")