extends layout

block content
    
    p An alluring aroma might await you at the entrance of a fancy restaurant, but at the back of the restaurant, 
    |you will probably find rows of garbage cans filled with rotten food giving off fetid odors. 
    |Approximately 133 billion pounds of food amounting to about $162 billion is wasted by restaurants per year. 
    |Restaurants that use fresh produce daily often have to throw away food at the end of the day without ever using it. 
    |Instead of wasting so much food, restaurants can easily donate to help people in need. Wasted food also emits methane 
    |contributing significantly to global warming. To help people in need and to save the environment, 
    |we set out to create Waste Not.