extends layout

block content 
    form.text-center.border.border-light.p-5(action='#!')
        p.h4.mb-4 Donations
        // Email
        input.form-control.mb-4(type='input', placeholder='E-mail')
        // Inputs
        input.form-control.mb-4(type='input', placeholder='Address')
        input.form-control.mb-4(type='input', placeholder='Name')
        input.form-control.mb-4(type='input', placeholder='Type of Business')
        input.form-control.mb-4(type='input', placeholder='Type of Food/Cuisine')
        input.form-control.mb-4(type='input', placeholder='Quanity')
        
        .d-flex.justify-content-around
        div
        // Submit button
        button.btn.btn-info.btn-block.my-4(type='submit') Submit
        


