extends layout

block content 
    h1(class = "donationHeading") Donations
    form
        .form-group
            label(for='Address') Address: 
            input.form-control(type='input' id='#addressInput' placeholder='Address')
        .form-group
            label(for='Name') Name
            input.form-control(type='input' id ="Name" placeholder='Name')
        .form-check    
            p Type of Donation Center:
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of place') School
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of place') Restaurant
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of place') Other
        .form-check    
            p Types of Food:
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of food') Vegetables/Fruits
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of food') Poultry
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of food') Dairy
        .form-group
            label(for='Address') Quantity: 
            input.form-control(type='input' id='#addressInput' placeholder='Pounds') 
        .form-check    
            p Types of Cuisines(For Restaurant Donations):
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of cuisine') Mexican
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of cuisine') Italian
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of cuisine') Indian
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of cuisine') Thai
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of cuisine') American
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of cuisine') Mediterranean
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of cuisine') Japanese
        .form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='type of cuisine') Chinese
        .form-group
            label(for='Address') Quantity: 
            input.form-control(type='input' id='#addressInput' placeholder='Servings') 
        
        button.btn.btn-primary(type='submit') Submit

