extends layout

block content
      div(class='jumbotron text-center bg-success')
        h1(class='header-font' id='site-title') Waste Not, Want Not!
        p A innovative solution to recycle food wastage!

