extends layout

block content
      div(class='jumbotron big-banner text-center bg-secondary text-white')
        h1(class='site-title') Foodcycle
        h3 An innovative solution to recycle food wastage!
      img(id = 'firstimage' src="https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60", alt="Hi" )
      img(id = 'secondimage' src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/heart-healthy-food-1580231690.jpg", alt="Hi")
      img(id = 'thirdimage' src="https://c.tadst.com/gfx/750w/sunrise-sunset-sun-calculator.jpg?1", alt="Hi")
      button(id='header') Donate
      h3(id = "header2") Recieve
