doctype html
html
  head
    title= title
    link(rel= 'stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  body
    div(class='jumbotron text-center')
      h1 Waste Not, Want Not!
      p A innovative solution to food wastage
    block content
