doctype html
html
  head
    title= title
    link(rel= 'stylesheet', href='/stylesheets/boots.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    nav.navbar.navbar-expand-lg.navbar-light.bg-secondary
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#') Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') About
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Participate
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Donate
              a.dropdown-item(href='#') Receive
          li.nav-item
            a.nav-link(href='#', tabindex='-1') Contribute
    block content
