doctype html
html
  head
    title= title
    link(rel= 'stylesheet', href='/stylesheets/boots.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    script(src="/javascripts/bootstrap.min.js")
    div(class='jumbotron big-banner text-center bg-secondary text-white')
        h1(class='site-title')= title
        h3= description
    
    block content
