doctype html
html
  head
    title= title
    link(rel= 'stylesheet', href='/stylesheets/boots.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    script(src="/javascripts/bootstrap.min.js")
    
    
    block content
