extends layout

block content
    .card-columns
        each doc, i in data
            .card.bg-info(style="width: 18rem")
                .card-header.text-center.bg-secondary.text-white
                    h5 #[strong=doc.food.name]
                        head
                            meta(charset="UTF-8")
                            meta(name="viewport", content="width=device-width, initial-scale=1.0")
                            title Document
                        body.food
                .card-body.bg-dark.text-light
                    ul.list-group.list-group-flush.bg-dark
                        li.list-group-item.bg-dark Uploaded #{doc.elapsed}
                        li.list-group-item.bg-dark From #{doc.address}
                        li.list-group-item.bg-dark By #{doc.name}

                .card-footer.bg-dark.text-light.text-center
                    button.btn.btn-light(type='button' data-toggle='modal' data-target=('#info-modal' + i)) Get More Information
            .modal.fade(id= ('info-modal' + i) role='dialog')
                        .modal-dialog
                            .modal-content
                                .modal-header.text-center
                                    h2 Invite users
                                    button.close(type='button' data-dismiss='modal') &times;
                                .modal-body=doc.timestamp
                                .modal-footer
                                    button.btn.btn-primary(type='button' data-dismiss='modal') Close
        else
            h1 No data to display

