@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#site-title{
    font-family: 'Bebas Neue', cursive, 120px ;   
}

.site-title {
    font-size: 112px;
}
#firstimage{
    width: 28%;
    height: auto;
    margin-left:3%;
}
#secondimage{
    width: 28%;
    height: auto;
    margin-left:3%;
}
#header{
    margin-left: 10%;
}
#recieve{
    margin-left:29%;
}
