@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.site-title {
    font-family: 'Bebas Neue', cursive; 
    font-size: 8rem;  
}

.header-font {
    font-family: 'Bebas Neue', cursive;
}


#firstimage{
    width: 28%;
    height: Auto;
    margin-left:4%;
}
#secondimage{
    width: 28%;
    height: auto;
    margin-left:4%;
}
#header{
    margin-left: 10%;
}
#receive{
    margin-left:29%;
}
.jumbotron{
    height:350px;
}
#thirdimage{
    width: 28%;
    height: auto;
    margin-left:4%;
}
