@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.site-title {
    font-family: 'Bebas Neue', cursive; 
    font-size: 8rem;  
}

#firstimage{
    width: 28%;
    height: Auto;
    margin-left:4%;
}
#secondimage{
    width: 28%;
    height: auto;
    margin-left:4%;
}
#header{
    margin-left: 12%;
    font-family: 'Bebas Neue', cursive; 
    font-size: 2rem; 
    
}
#header2{
    margin-left:23%;
    font-family: 'Bebas Neue', cursive; 
    font-size: 2rem; 
}
#header3{
    margin-left:20%;
    font-family: 'Bebas Neue', cursive; 
    font-size: 2rem; 
}
#receive{
    margin-left:29%;
}
#thirdimage{
    width: 28%;
    height: auto;
    margin-left:4%;
}
#fourthimage{
    margin-left:4%;


}
#fifthimage{
    margin-left:8%;

} 
#sixthimage{
    margin-right:4%;

}